.ButtonComponent {
    background: rgb(44, 117, 253, 0.8);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.1s;
    color: black;
    height: 42px;
    box-sizing: border-box;
    background: rgb(37, 97, 209);
    border: 3px solid rgb(55,55,55);
    color: white;
    background: transparent;
    color: black;
    border: 3px solid rgb(5,5,5);
    &:hover {
        transform: translateY(-2px);
        background: rgb(44, 117, 253);
        box-shadow: 4px 4px 0px rgb(0,0,0,0.9);
        color: white;
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 2px 2px 0px rgb(0,0,0,1);
        background: rgb(44, 117, 253, 0.9);
    }
    &[disabled] {
        border: 3px solid transparent;
        background: rgba(235,235,235);
        pointer-events: none;
        box-shadow: inset 4px 4px 0px rgba(225,225,225), inset -4px -4px 0px rgba(245,245,245);
        button {
            color: rgba(210,210,210);
            cursor: not-allowed;
        }
    }
    :global {
        button {
            transition: all 0.1s;
            font-weight: 700;
            width: 100%;
            cursor: pointer;
            background: transparent;
            border: 0;
            color: black;
            padding: 20px;
            font-size: 24px;
            color: inherit;
            font-family: 'Ubuntu';
            font-weight: 200;
            font-size: 18px;
            text-underline-offset: 5px;
            padding: 8px 12px;
        }
    }
}